<table align="center" style="text-align: left; width: 700px; height: 147px;" border="0" cellpadding="2" cellspacing="2">
    <tbody>
        <tr height="10">
            <td></td>
        </tr>
        <tr>

            <td align="center" valign="top">
                <a href="index.php/upcoming-projects/mist-luxory-homes">
                    <img src="templates/themza_j15_84/images/mist/mist_soldout.jpg" alt="MistLuxoryHomes image" width="150" height="115" border="0">
                </a>
            </td>

            <!--<td align="center" valign="top">
<a href="index.php/ongoing-projects/tc-commercial"><img src="templates/themza_j15_84/images/town_center.gif" alt="TownCenter image" width="150" height="115" border="0"></a></td>
<td align="center" valign="top">
<a href="index.php/ongoing-projects/tc-residential"><img src="templates/themza_j15_84/images/tc_residentialflats_small.gif" alt="TownCenter image" width="150" height="115" border="0"></a></td>


		<!--<td align="center" valign="top">
<a href="index.php/ongoing-projects/tc-residential"><img src="templates/themza_j15_84/images/tc_residentialflats_small.jpg" alt="TownCenter image" width="150" height="115" border="0"></a></td>
-->


            <td align="center" valign="top">
                <a href="index.php/ongoing-projects/tc-commercial">
                    <img src="templates/themza_j15_84/images/town_center_soldout.gif" alt="TownCenter image" width="150" height="115" border="0">
                </a>
            </td>



            <!--<td align="center" valign="top">
<a href="index.php/ongoing-projects/tc-commercial"><img src="templates/themza_j15_84/images/town_center.jpg" alt="TownCenter image" width="150" height="115" border="0"></a></td>-->


            <td align="center" valign="top">
                <a href="index.php/ongoing-projects/waterford-overview">
                    <img src="templates/themza_j15_84/images/NorthElevationFinal_soldout.jpg" alt="waterford image" width="150" height="115" border="0">
                </a>
            </td>

            <!--<td align="center" valign="top"><a href="index.php/ongoing-projects/waterford-overview"><img src="templates/themza_j15_84/images/NorthElevationFinal_1.jpg" alt="waterford image" width="150" height="115" border="0"></a></td>-->




            <!--<td align="center" valign="top"><a href="index.php/ongoing-projects/windsor-overview"><img src="templates/themza_j15_84/images/godavari_proj.jpg" alt="windosor image" width="150" height="115" border="0"></a></td>-->


        </tr>
        <tr height="40">
            <td align="center" valign="top">
                <br />
                <a href="index.php/ongoing-projects/tc-residential">
                    <br />
                    <img src="templates/themza_j15_84/images/town_center_residential.png" alt="Logo" style="margin: 0px 0px 0px 0px; border: 0px solid ;width:150px; margin-bottom:25px;" />
                </a>
            </td>
            <td align="center" valign="top">
                <br />
                <a href="index.php/ongoing-projects/tc-commercial">
                    <br />
                    <img src="templates/themza_j15_84/images/town_center_commercial.png" alt="Logo" style="margin: 0px 0px 0px 0px; border: 0px solid ;width:150px; margin-bottom:25px;" />
                </a>
            </td>
            <td align="center" valign="top">
                <a href="index.php/ongoing-projects/waterford-overview">
                    <br />
                    <img src="templates/themza_j15_84/images/waterford1.png" alt="Logo" style="margin: 0px 0px 0px 0px; border: 0px solid ;" width:150px; margin-bottom:25px; " /></a></td>
    <!-- <td align="center " valign="top "><a href="index.php/ongoing-projects/windsor-overview "><br /><img src="templates/themza_j15_84/images/windsorhomes.png " alt="Logo " style="margin: 0px 0px 0px 0px; border: 0px solid ;
                    " width:150px; margin-bottom:25px;"/>
                </a>
            </td>-->
        </tr>
</table>